** Importez la librairie Pandas.**

In [1]:
import pandas as pd
import numpy as np

In [10]:
a = np.array([1, 2, 3, 4])
a

array([1, 2, 3, 4])

** Ouvrez le fichier dans un dataFrame sal**

In [2]:
df_salaire= pd.read_csv('Salaries.csv')
df_salaire

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Affichez les premieres lignes du dataframe **

In [3]:
df_salaire.head(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [9]:
df_salaire.sample()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
126334,126335,Tuan Banh,Transit Operator,66269.87,9164.27,1926.45,34838.63,77360.59,112199.22,2014,NaN,San Francisco,NaN

In [6]:
val_moyen.mean()

66325.44884050643

** Affichez le nombre d'entrée de ce dataframe **

**Quel est le salaire moyen ?**

In [11]:
val_moyen = df_salaire['BasePay'].mean()

In [12]:
val_moyen

66325.44884050643

** Affichez le salaire le plus grand**

In [13]:
salaire_max=df_salaire['BasePay'].max()
salaire_max

319275.01

** Quel est le role de JOSEPH DRISCOLL ? **

In [19]:
role_J=df_salaire[df_salaire['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']
role_J

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [38]:
salaire_J = df_sal[df_sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']
salaire_J

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [21]:
role = df_sal.loc[df_sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle']
role.values[0]

'CAPTAIN, FIRE SUPPRESSION'

In [41]:
role_J = df_sal[df_sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
role_J

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** Combien gagne JOSEPH DRISCOLL (en incluant les avantages)? **

In [20]:
#salaire de J
salaire_J=df_salaire[df_salaire['EmployeeName']=='JOSEPH DRISCOLL']['BasePay']
salaire_J

24    140546.86
Name: BasePay, dtype: float64

In [42]:
salaire_J = df_sal[df_sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']
salaire_J

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [37]:
salire_J = df_sal[df_sal['EmployeeName'] == 'JOSEPH DRISCOLL']['BasePay']
salire_J

24    140546.86
Name: BasePay, dtype: float64

** Qui est la personne  qui gagne le plus (en incluant les avantages)?**

In [21]:
val_max=df_salaire['BasePay'].max()

In [24]:
personne_sal=df_salaire[df_salaire['BasePay']==val_max]['EmployeeName']
personne_sal

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [45]:
sal_max=df_sal['TotalPayBenefits'].max()
sal_max

567595.43

In [44]:
max_salair = df_sal[df_sal['TotalPayBenefits'] == sal_max]['EmployeeName']
max_salair

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

Series([], Name: EmployeeName, dtype: object)

** Qui gagne le moins (en incluant les avantages)? Que remarquez vous**

In [46]:
sal_min=df_sal['TotalPayBenefits'].min()
sal_min

-618.13

In [48]:
min_salair = df_sal[df_sal['TotalPayBenefits'] == sal_min]['EmployeeName']
min_salair

148653    Joe Lopez
Name: EmployeeName, dtype: object

** Quelle est la moyenne des salaires par annee(2011-2014) ? **

In [25]:
df_salaire

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [28]:
salair_2011=df_salaire[df_salaire['Year']==2011]['BasePay']
salair_2011

0        167411.18
1        155966.02
2        212739.13
3         77916.00
4        134401.60
           ...
36154         0.00
36155         0.00
36156         0.00
36157         0.00
36158         0.00
Name: BasePay, Length: 36159, dtype: float64

In [29]:
salair_2011.mean()

63595.956516774524

In [50]:
salair_2011=df_sal['Year']==2011
salair_2011

0          True
1          True
2          True
3          True
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: Year, Length: 148654, dtype: bool

In [53]:
df_sal.groupby('Year').mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** Le nombre de position dans l'entreprise **

In [58]:
len(df_sal['JobTitle'].unique())

2159

** Les 5 postes les plus representés  dans l'entreprise **

In [65]:
df_sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [66]:
df_sal['JobTitle'].value_counts()[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** Quel poste etait juste occcupé par une seule personne en 2013?  **

In [30]:
post = df_salaire['JobTitle'].value_counts()==1 and df_salaire['Year']==2013
post

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [100]:
post = df_sal['EmployeeName']=='Chef'
len(post)

148654

In [88]:
df_sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [103]:
df_sal['JobTitle']==['%%Chef']

ValueError: ('Lengths must match to compare', (148654,), (1,))

In [104]:
def containsChief(value):
    if 'chief' in value.lower():
        return True
    else:
        return False

In [105]:
df_sal['JobTitle'].head(5)

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
3              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
Name: JobTitle, dtype: object

In [106]:
sum(df_sal['JobTitle'].apply(lambda x : containsChief(x)))

627

** Combien de personnes on le mot "Chief" au niveau de leur position (question piege^^) **

** Y a t'il une correlation entre le titre du poste et le salaire ?**