** Importez la librairie Pandas.**

In [1]:
import pandas as pd

** Ouvrez le fichier dans un dataFrame sal**

In [2]:
dataFramSalaire=pd.read_csv('Salaries.csv')

In [1]:
dataFramSalaire

NameError: name 'dataFramSalaire' is not defined

** Affichez les premieres lignes du dataframe **

In [4]:
dataFramSalaire.sample()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
31852,31853,THERESA APICE,SPECIAL NURSE,8650.95,0.0,707.86,NaN,9358.81,9358.81,2011,NaN,San Francisco,NaN

In [5]:
dataFramSalaire.shape

(148654, 13)

In [31]:
dataFramSalaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [8]:
dataFramSalaire['BasePay'].mean()

66325.44884050643

In [9]:
dataFramSalaire['BasePay'].max()

319275.01

In [10]:
dataFramSalaire['BasePay'].min()

-166.01

In [ ]:
val.head(5)

** Affichez le nombre d'entrée de ce dataframe **

In [ ]:
val.shape

**Quel est le salaire moyen ?**

In [14]:
dataFramSalaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

** Affichez le salaire le plus grand**

In [20]:
max_salary = dataFramSalaire['BasePay'].max()
print("Le salaire le plus élevé est :", max_salary)

Le salaire le plus élevé est : 319275.01

#### l'utilisation "DESCRIBE"

In [13]:
data = dataFramSalaire.describe()
data

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [15]:
### vérifier les valeur nul
dataFramSalaire.notnull()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,True,True,True,True,True,True,False,True,True,True,False,True,False
1,True,True,True,True,True,True,False,True,True,True,False,True,False
2,True,True,True,True,True,True,False,True,True,True,False,True,False
3,True,True,True,True,True,True,False,True,True,True,False,True,False
4,True,True,True,True,True,True,False,True,True,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,True,True,True,True,True,True,True,True,True,True,False,True,False
148650,True,True,True,False,False,False,False,True,True,True,False,True,False
148651,True,True,True,False,False,False,False,True,True,True,False,True,False
148652,True,True,True,False,False,False,False,True,True,True,False,True,False
148653,True,True,True,True,True,True,True,True,True,True,False,True,False

In [ ]:
### Supprimer les valeurs manquantes
dataFramSalaire.dropna()

#### Calcul de la covariance

In [16]:
dataFramSalaire.cov()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
Id,1.841513e+09,-3.762952e+08,-4.006215e+07,-3.471148e+07,-1.745354e+08,-4.584480e+08,-2.484189e+08,46430.335557,NaN,NaN
BasePay,-3.762952e+08,1.828814e+09,1.308750e+08,9.796551e+07,6.127385e+08,2.057655e+09,2.537478e+09,1615.650472,NaN,NaN
OvertimePay,-4.006215e+07,1.308750e+08,1.312028e+08,2.921614e+07,5.446103e+07,2.921274e+08,3.365952e+08,356.968225,NaN,NaN
OtherPay,-3.471148e+07,9.796551e+07,2.921614e+07,6.490883e+07,2.904572e+07,1.914866e+08,2.136597e+08,-22.499264,NaN,NaN
Benefits,-1.745354e+08,6.127385e+08,5.446103e+07,2.904572e+07,2.372283e+08,7.000658e+08,9.372940e+08,-542.027519,NaN,NaN
TotalPay,-4.584480e+08,2.057655e+09,2.921274e+08,1.914866e+08,7.000658e+08,2.551968e+09,3.100174e+09,1811.652254,NaN,NaN
TotalPayBenefits,-2.484189e+08,2.537478e+09,3.365952e+08,2.136597e+08,9.372940e+08,3.100174e+09,3.943028e+09,10662.771910,NaN,NaN
Year,4.643034e+04,1.615650e+03,3.569682e+02,-2.249926e+01,-5.420275e+02,1.811652e+03,1.066277e+04,1.248890,NaN,NaN
Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
max_salary = dataFramSalaire['BasePay'].max()
print("Le salaire le plus élevé est :", max_salary)

Le salaire le plus élevé est : 319275.01

### ** Quel est le role de JOSEPH DRISCOLL ? **

In [23]:
role = dataFramSalaire.loc[dataFramSalaire['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle']
print("Le rôle de JOSEPH DRISCOLL est :", role.values[0])

Le rôle de JOSEPH DRISCOLL est : CAPTAIN, FIRE SUPPRESSION

In [25]:
result = dataFramSalaire.query("EmployeeName == 'JOSEPH DRISCOLL'")[['EmployeeName', 'JobTitle']]
print(result)

       EmployeeName                   JobTitle
24  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION

In [36]:
salaire_joseph = dataFramSalaire.query("EmployeeName == 'JOSEPH DRISCOLL'")['JobTitle']
print(salaire_joseph.values[0])

CAPTAIN, FIRE SUPPRESSION

### ** Combien gagne JOSEPH DRISCOLL (en incluant les avantages)? **

In [38]:
result = dataFramSalaire.query("EmployeeName == 'JOSEPH DRISCOLL'")['TotalPayBenefits']
salary = result.values[0]
print("Le salaire total de JOSEPH DRISCOLL est :", salary)

Le salaire total de JOSEPH DRISCOLL est : 270324.91

In [37]:
salaire_joseph = dataFramSalaire.query("EmployeeName == 'JOSEPH DRISCOLL'")['BasePay']
print(salaire_joseph.values[0])

140546.86

### ** Qui est la personne  qui gagne le plus (en incluant les avantages)?**

In [44]:
max_salary = dataFramSalaire['TotalPayBenefits'].idxmax()
person = dataFramSalaire.loc[max_salary, 'EmployeeName']
print("La personne qui gagne le plus est :", person)

La personne qui gagne le plus est : NATHANIEL FORD

In [45]:
person = dataFramSalaire.nlargest(1, 'TotalPayBenefits')['EmployeeName'].values[0]
print("La personne qui gagne le plus est :", person)

La personne qui gagne le plus est : NATHANIEL FORD

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** Qui gagne le moins (en incluant les avantages)? Que remarquez vous**

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Quelle est la moyenne des salaires par annee(2011-2014) ? **

** Le nombre de position dans l'entreprise **

** Les 5 postes les plus representés  dans l'entreprise **

** Quel poste etait juste occcupé par une seule personne en 2013?  **

** Combien de personnes on le mot "Chief" au niveau de leur position (question piege^^) **

** Y a t'il une correlation entre le titre du poste et le salaire ?**