In [2]:
import pandas as pd

In [3]:
s=pd.Series([1,2,3,15,12,-44],index=["a","b","c","d","e","f"])

In [4]:
s.values

array([  1,   2,   3,  15,  12, -44], dtype=int64)

In [5]:
s[s>3]

d    15
e    12
dtype: int64

In [6]:
s[0:2]

a    1
b    2
dtype: int64

In [7]:
s[0]=18

In [8]:
serd = pd.Series([1,0,2,1,2,3], index=['white','white','blue','green','green','yellow'])

In [9]:
serd.unique()

array([1, 0, 2, 3], dtype=int64)

In [10]:
serd.isin([0])

white     False
white      True
blue      False
green     False
green     False
yellow    False
dtype: bool

In [11]:
serd[serd.isin([0])]

white    0
dtype: int64

In [12]:
import numpy as np

In [13]:
s2 = pd.Series([5, -3, np.NaN, 14])

In [14]:
s2.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [15]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
dtype: float64

In [16]:
s2[s2.isnull()]

2   NaN
dtype: float64

In [17]:
mydict = {'red': 2000, 'blue': 1000, 'yellow': 500, 'orange': 1000}

In [18]:
myseries = pd.Series(mydict)
myseries

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [19]:
colors = ['red','yellow','orange','blue','green']

In [20]:
myseries = pd.Series(mydict, index=colors)
myseries

red       2000.0
yellow     500.0
orange    1000.0
blue      1000.0
green        NaN
dtype: float64

In [21]:
mydict2 = {'red':400,'yellow':1000,'black':700}
myseries2 = pd.Series(mydict2)

In [22]:
myseries2

red        400
yellow    1000
black      700
dtype: int64

In [23]:
myseries + myseries2

black        NaN
blue         NaN
green        NaN
orange       NaN
red       2400.0
yellow    1500.0
dtype: float64

In [24]:
data = { 'color' : ['blue','green','yellow','red','white'],
'object' : ['ball','pen','pencil','paper','mug'],
'price' : [1.2,1.0,0.6,0.9,1.7]}
frame = pd.DataFrame(data)

In [25]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [26]:
frame2 = pd.DataFrame(data, columns=['object','price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [27]:
frame2.object

0      ball
1       pen
2    pencil
3     paper
4       mug
Name: object, dtype: object

In [28]:
frame2.loc[1]

object    pen
price     1.0
Name: 1, dtype: object

In [30]:
frame2 = pd.DataFrame(data, index=['one','two','three','four','five'] )
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [31]:
frame2.price

one      1.2
two      1.0
three    0.6
four     0.9
five     1.7
Name: price, dtype: float64

In [32]:
frame2['price']

one      1.2
two      1.0
three    0.6
four     0.9
five     1.7
Name: price, dtype: float64

In [39]:
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [40]:
frame2.loc['two']

color     green
object      pen
price       1.0
Name: two, dtype: object

In [49]:
frame2.loc[['two','four']]

      color object  price
two   green    pen    1.0
four    red  paper    0.9

In [41]:
frame3 = pd.DataFrame( np.arange(16).reshape((4,4)) , 
index= ['red','blue','yellow','white'] , 
columns=['ball','pen','pencil','paper'] )

In [42]:
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [54]:
frame['color'][2]

'yellow'